.page {
  display: flex;
  flex-direction: column;
  background-color: var(--background-dark-b);
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: #8b93a8;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: #f2f1ed;
}
